In [1]:
import pandas as pd

### Montando a base inicial

In [2]:
colunas_base_outliers = ['V0001', 'V0024', 'UPA_PNS', 'V0006_PNS', 'C00301', 
                        'V0015', 'V0026', 'V0031', 'B001', 'C006', 'C008', 'C009', 'C011', 'C012','D00901', 'D014', 'D015', 'E01602', 'E017', 'E01802', 'E019', 'E027', 
                        'F001011', 'F001021', 'F007011', 'F007021', 'F008011', 'F008021', 'VDF001', 'VDF00102', 'F016', 'G059', 'G060', 'G062', 'G032', 
                        'I00102', 'I006', 'I004', 'I00401', 'I00402', 'I00403','I012', 'J060', 'M001', 'M00203', 'M00302', 'M011011', 'M011021', 'M011051', 'M011071', 
                        'N004', 'N005', 'N008', 'N010', 'N011', 'N012', 'N016', 'P00104', 'P00404', 'P00901', 'P01101', 'P02001', 'P018', 'P02002', 'P02501', 'P02602', 'P02601', 'P027', 'P02801', 'P029', 'P035', 'P03701', 'P03702',
                        'P04501', 'P04502', 'P050', 'P051', 'P052', 'P053', 'P05401', 'P05404', 'P05407', 'P05410', 'P05413', 'P05416', 'P05419', 'P06701', 'P068', 'Q00201', 'Q03001', 'Q060', 'Q06306', 
                        'Q068', 'Q11006', 'Q128', 'R034']

Alguns atributos eliminados depois: 'E006011', 'E008', 'E005', 'J002', 'J00402', 'J00404', 'J007', 'J00801', J001, J00101, J01101

In [ ]:
df = pd.read_csv('../Bases/Originais/pns2019.csv', usecols=colunas_base_outliers)
df.head()

,V0001,V0024,UPA_PNS,V0006_PNS,V0015,V0026,V0031,B001,C00301,C006,...,P06701,P068,Q00201,Q03001,Q060,Q06306,Q068,Q11006,Q128,R034
0,11,1110011,110000016,1,1,1,1,1.0,1.0,2.0,...,4.0,1.0,1.0,2.0,1.0,2.0,2.0,2.0,2.0,NaN
1,11,1110011,110000016,1,1,1,1,1.0,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,11,1110011,110000016,1,1,1,1,1.0,3.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,11,1110011,110000016,1,1,1,1,1.0,4.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,11,1110011,110000016,1,1,1,1,1.0,5.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Códigos dos estados do Nordeste
nordeste = [21, 22, 23, 24, 25, 26, 27, 28, 29]

# Códigos dos estados do Centro-Oeste
centro_oeste = [50, 51, 52, 53]

df_filtrado = df.dropna(subset=['Q06306'])

df_filtrado = df_filtrado[
    (df_filtrado['V0015'] == 1) & #Tipo da entrevista: Realizada (1)
    (df_filtrado['V0001'].isin(nordeste + centro_oeste)) & #Região nordeste e centro-oeste apenas
    (~df_filtrado['C012'].isin([3, 9])) & #Informante do Módulo C 
    (~df_filtrado['D015'].isin([3, 9])) & #Informante do Módulo D 
    (~df_filtrado['E027'].isin([3, 9])) & #Informante do Módulo E 
    (~df_filtrado['F016'].isin([3, 9])) & #Informante do Módulo F 
    (~df_filtrado['G032'].isin([3, 9])) & #Informante do Módulo G 
    (~df_filtrado['I012'].isin([3, 9])) & #Informante do Módulo I 
    (~df_filtrado['J060'].isin([3, 9])) & #Informante do Módulo J 
    (df_filtrado['M001'] == 1) & #Entrevista do adulto selecionado: Realizada (1)
    (~df_filtrado['M00302'].isin([2])) & #O informante desta parte é: (todas as opções menos "Não morador")
    (df_filtrado['C008'] >= 40) & (df_filtrado['C008'] <= 70) #Pessoas com entre 40 e 70 anos
]

#Colunas acrescentadas para análise e produto cartesiano: 
# 'D00201', 'D00301', 'D008'
# 'E011', 'E014011', 'E01601', 'E01603', 'E01605', 'E01801'
## tirei 'E010010', 'E01604', 'E01804'
# 'I00103', 'I001031','C00301'
# 'N00101'
## peso: 'W00101', 'W00102', 'W00103' (já tirei)
## altura: 'W00201', 'W00202', 'W00203' (já tirei)
# 'P00103', 'P00403'
## tirei o P01001 e o P019
# 'P034'
## tirei o P058
# 'P05901', 'P05902', 'P05903', 'P05904'
# 'Q00101', 'Q02901', 'Q05901'
# 'R031', 'R032', 'R033'
# 'R010', 'R025', 'R028', 'R029', 'R030'
# 'H001', 'H002'
# Atributos sobre contraceptivo: 'R010', 'R025', 'R028', 'R029', 'R030', 'R031', 'R032', 'R033', 'R034', 'R03601', 'R03607', 'R03608', 'R03610', 'S065', 


colunas_existentes = [col for col in colunas_base_outliers if col in df_filtrado.columns]

df_filtrado = df_filtrado[colunas_existentes]

In [5]:
df_filtrado = df_filtrado.drop(columns=['V0015', 'C012', 'D015', 'E027', 'F016', 'G032', 'I012', 'J060', 'M001', 'M00302']) #drop dos filtros

In [ ]:
df_filtrado.to_csv('../Bases/Criados/1_base_bruta.csv', index=False)

In [7]:
df_filtrado.columns[df_filtrado.isnull().any()]

Index(['D00901', 'D014', 'E01602', 'E017', 'E01802', 'E019', 'F001021',
       'F007021', 'F008021', 'VDF00102', 'G060', 'G062', 'I006', 'I004',
       'I00401', 'I00402', 'I00403', 'M00203', 'M011011', 'M011021', 'M011051',
       'M011071', 'N004', 'N005', 'N008', 'P00104', 'P00404', 'P02801', 'P029',
       'P035', 'P03701', 'P03702', 'P051', 'P052', 'P053', 'P05401', 'P05404',
       'P05407', 'P05410', 'P05413', 'P05416', 'P05419', 'Q00201', 'Q03001',
       'Q060', 'R034'],
      dtype='object')

In [8]:
(df_filtrado.isnull().sum() > 0).sum()

46

### Informações gerais das bases

In [ ]:
df1 = pd.read_csv('../Bases/Criados/1_base_bruta.csv')

In [10]:
df1.shape

(20528, 86)

In [11]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20528 entries, 0 to 20527
Data columns (total 86 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   V0001      20528 non-null  int64
 1   V0024      20528 non-null  int64
 2   UPA_PNS    20528 non-null  int64
 3   V0006_PNS  20528 non-null  int64
 4   C00301     20528 non-null  float64
 5   V0026      20528 non-null  int64
 6   V0031      20528 non-null  int64
 7   B001       20528 non-null  float64
 8   C006       20528 non-null  float64
 9   C008       20528 non-null  float64
 10  C009       20528 non-null  float64
 11  C011       20528 non-null  float64
 12  D00901     18139 non-null  float64
 13  D014       17349 non-null  float64
 14  E01602     11725 non-null  float64
 15  E017       11935 non-null  float64
 16  E01802     707 non-null    float64
 17  E019       724 non-null    float64
 18  F001011    20528 non-null  float64
 19  F001021    5768 non-null   float64
 20  F007011    20528 non-null  float64
 21  F007021    651 non-null    float64
 22  F008011    20528 non-null  float64
 23  F008021    954 non-null    float64
 24  VDF001     20528 non-null  float64
 25  VDF00102   3109 non-null   float64
 26  G059       20528 non-null  float64
 27  G060       348 non-null    float64
 28  G062       348 non-null    float64
 29  I00102     20528 non-null  float64
 30  I006       3842 non-null   float64
 31  I004       2873 non-null   float64
 32  I00401     2873 non-null   float64
 33  I00402     2873 non-null   float64
 34  I00403     2873 non-null   float64
 35  M00203     20526 non-null  float64
 36  M011011    11935 non-null  float64
 37  M011021    11935 non-null  float64
 38  M011051    11935 non-null  float64
 39  M011071    11935 non-null  float64
 40  N004       20180 non-null  float64
 41  N005       20180 non-null  float64
 42  N008       2885 non-null   float64
 43  N010       20528 non-null  float64
 44  N011       20528 non-null  float64
 45  N012       20528 non-null  float64
 46  N016       20528 non-null  float64
 47  P00104     20501 non-null  float64
 48  P00404     20501 non-null  float64
 49  P00901     20528 non-null  float64
 50  P01101     20528 non-null  float64
 51  P02001     20528 non-null  float64
 52  P018       20528 non-null  float64
 53  P02002     20528 non-null  float64
 54  P02501     20528 non-null  float64
 55  P02602     20528 non-null  float64
 56  P02601     20528 non-null  float64
 57  P027       20528 non-null  float64
 58  P02801     4898 non-null   float64
 59  P029       7309 non-null   float64
 60  P035       7392 non-null   float64
 61  P03701     7202 non-null   float64
 62  P03702     7202 non-null   float64
 63  P04501     20528 non-null  float64
 64  P04502     20528 non-null  float64
 65  P050       20528 non-null  float64
 66  P051       225 non-null    float64
 67  P052       17666 non-null  float64
 68  P053       8427 non-null   float64
 69  P05401     2862 non-null   float64
 70  P05404     2862 non-null   float64
 71  P05407     2862 non-null   float64
 72  P05410     2862 non-null   float64
 73  P05413     2862 non-null   float64
 74  P05416     2862 non-null   float64
 75  P05419     2862 non-null   float64
 76  P06701     20528 non-null  float64
 77  P068       20528 non-null  float64
 78  Q00201     20333 non-null  float64
 79  Q03001     19356 non-null  float64
 80  Q060       19107 non-null  float64
 81  Q06306     20528 non-null  float64
 82  Q068       20528 non-null  float64
 83  Q11006     20528 non-null  float64
 84  Q128       20528 non-null  float64
 85  R034       2870 non-null   float64
dtypes: float64(80), int64(6)
memory usage: 13.5 MB

In [ ]:
df2 = pd.read_csv('../Bases/Criados/2_base_sem_outliers.csv')

In [13]:
df2.shape

(20528, 86)

In [14]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20528 entries, 0 to 20527
Data columns (total 86 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   V0001      20528 non-null  int64
 1   V0024      20528 non-null  int64
 2   UPA_PNS    20528 non-null  int64
 3   V0006_PNS  20528 non-null  int64
 4   C00301     20528 non-null  float64
 5   V0026      20528 non-null  int64
 6   V0031      20528 non-null  int64
 7   B001       20528 non-null  float64
 8   C006       20528 non-null  float64
 9   C008       20528 non-null  float64
 10  C009       20528 non-null  float64
 11  C011       20528 non-null  float64
 12  D00901     18139 non-null  float64
 13  D014       17349 non-null  float64
 14  E01602     11725 non-null  float64
 15  E017       11935 non-null  float64
 16  E01802     707 non-null    float64
 17  E019       724 non-null    float64
 18  F001011    20528 non-null  float64
 19  F001021    5768 non-null   float64
 20  F007011    20528 non-null  float64
 21  F007021    651 non-null    float64
 22  F008011    20528 non-null  float64
 23  F008021    954 non-null    float64
 24  VDF001     20528 non-null  float64
 25  VDF00102   3109 non-null   float64
 26  G059       20528 non-null  float64
 27  G060       348 non-null    float64
 28  G062       348 non-null    float64
 29  I00102     20528 non-null  float64
 30  I006       3842 non-null   float64
 31  I004       2873 non-null   float64
 32  I00401     2873 non-null   float64
 33  I00402     2873 non-null   float64
 34  I00403     2873 non-null   float64
 35  M00203     20526 non-null  float64
 36  M011011    11935 non-null  float64
 37  M011021    11935 non-null  float64
 38  M011051    11935 non-null  float64
 39  M011071    11935 non-null  float64
 40  N004       20180 non-null  float64
 41  N005       20180 non-null  float64
 42  N008       2885 non-null   float64
 43  N010       20528 non-null  float64
 44  N011       20528 non-null  float64
 45  N012       20528 non-null  float64
 46  N016       20528 non-null  float64
 47  P00104     20501 non-null  float64
 48  P00404     20501 non-null  float64
 49  P00901     20528 non-null  float64
 50  P01101     20528 non-null  float64
 51  P02001     20528 non-null  float64
 52  P018       20528 non-null  float64
 53  P02002     20528 non-null  float64
 54  P02501     20528 non-null  float64
 55  P02602     20528 non-null  float64
 56  P02601     20528 non-null  float64
 57  P027       20528 non-null  float64
 58  P02801     4898 non-null   float64
 59  P029       7309 non-null   float64
 60  P035       7392 non-null   float64
 61  P03701     7202 non-null   float64
 62  P03702     7202 non-null   float64
 63  P04501     20528 non-null  float64
 64  P04502     20528 non-null  float64
 65  P050       20528 non-null  float64
 66  P051       225 non-null    float64
 67  P052       17666 non-null  float64
 68  P053       8427 non-null   float64
 69  P05401     2862 non-null   float64
 70  P05404     2862 non-null   float64
 71  P05407     2862 non-null   float64
 72  P05410     2862 non-null   float64
 73  P05413     2862 non-null   float64
 74  P05416     2862 non-null   float64
 75  P05419     2862 non-null   float64
 76  P06701     20528 non-null  float64
 77  P068       20528 non-null  float64
 78  Q00201     20333 non-null  float64
 79  Q03001     19356 non-null  float64
 80  Q060       19107 non-null  float64
 81  Q06306     20528 non-null  float64
 82  Q068       20528 non-null  float64
 83  Q11006     20528 non-null  float64
 84  Q128       20528 non-null  float64
 85  R034       2870 non-null   float64
dtypes: float64(80), int64(6)
memory usage: 13.5 MB

In [ ]:
df3 = pd.read_csv('../Bases/Criados/3_base_doencas_cardiacas.csv')

In [16]:
df3.shape

(20528, 107)

In [17]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20528 entries, 0 to 20527
Columns: 107 entries, V0001 to Q092
dtypes: float64(104), int64(3)
memory usage: 16.8 MB

In [ ]:
df4 = pd.read_csv('../Bases/Criados/4_base_preenchida.csv')

In [19]:
df4.shape

(20499, 49)

In [20]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20499 entries, 0 to 20498
Data columns (total 49 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   V0001                     20499 non-null  int64
 1   V0026                     20499 non-null  int64
 2   V0031                     20499 non-null  int64
 3   B001                      20499 non-null  float64
 4   C006                      20499 non-null  float64
 5   C008                      20499 non-null  float64
 6   C009                      20499 non-null  float64
 7   C011                      20499 non-null  float64
 8   I00102                    20499 non-null  float64
 9   N010                      20499 non-null  float64
 10  N011                      20499 non-null  float64
 11  N012                      20499 non-null  float64
 12  N016                      20499 non-null  float64
 13  P00901                    20499 non-null  float64
 14  P01101                    20499 non-null  float64
 15  P02001                    20499 non-null  float64
 16  P018                      20499 non-null  float64
 17  P02002                    20499 non-null  float64
 18  P02501                    20499 non-null  float64
 19  P02602                    20499 non-null  float64
 20  P02601                    20499 non-null  float64
 21  P04501                    20499 non-null  float64
 22  P04502                    20499 non-null  float64
 23  P06701                    20499 non-null  float64
 24  P068                      20499 non-null  float64
 25  Q00201                    20499 non-null  float64
 26  Q03001                    20499 non-null  float64
 27  Q060                      20499 non-null  float64
 28  Q06306                    20499 non-null  float64
 29  Q068                      20499 non-null  float64
 30  Q128                      20499 non-null  float64
 31  P034                      20499 non-null  float64
 32  Escolaridade              20499 non-null  int64
 33  Renda                     20499 non-null  int64
 34  Quantidade_de_trabalhos   20499 non-null  int64
 35  Jornada_de_Trabalho       20499 non-null  int64
 36  Mobilidade_assistida      20499 non-null  object
 37  Avaliacao_do_plano        20499 non-null  int64
 38  Instituicao_do_plano      20499 non-null  float64
 39  Cobertura_do_plano        20499 non-null  float64
 40  Exposição_poluentes       20499 non-null  int64
 41  Dor_no_peito              20499 non-null  object
 42  Atividade_fisica_semanal  20499 non-null  int64
 43  Início_tabagismo          20499 non-null  int64
 44  Tempo_parou_de_fumar      20499 non-null  int64
 45  Intensidade_fumo          20499 non-null  int64
 46  Doença_mental             20499 non-null  int64
 47  Consumo_de_álcool         20499 non-null  int64
 48  Faixa_IMC                 20499 non-null  int64
dtypes: float64(31), int64(16), object(2)
memory usage: 7.7+ MB

In [21]:
df5 = pd.read_csv('../Bases/Criados/5_base_codificada.csv')

In [22]:
list(df5.columns)

['V0001',
 'V0026',
 'V0031',
 'B001',
 'C006',
 'C008',
 'C009',
 'C011',
 'I00102',
 'N010',
 'N011',
 'N012',
 'N016',
 'P00901',
 'P01101',
 'P02001',
 'P018',
 'P02002',
 'P02501',
 'P02602',
 'P02601',
 'P04501',
 'P04502',
 'P06701',
 'P068',
 'Q00201',
 'Q03001',
 'Q060',
 'Q06306',
 'Q068',
 'Q128',
 'P034',
 'Escolaridade',
 'Renda',
 'Quantidade_de_trabalhos',
 'Jornada_de_Trabalho',
 'Mobilidade_assistida',
 'Avaliacao_do_plano',
 'Instituicao_do_plano',
 'Cobertura_do_plano',
 'Exposição_poluentes',
 'Dor_no_peito',
 'Atividade_fisica_semanal',
 'Início_tabagismo',
 'Tempo_parou_de_fumar',
 'Intensidade_fumo',
 'Doença_mental',
 'Consumo_de_álcool',
 'Faixa_IMC']